*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 16px;
    color: #1B1A1A;
}

.primary-btn{
    background-color: transparent;
    height: 46px;
    padding: 0 20px;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: #1b1a1a;
    color: #fff;
}
.primary-btn:active{
    transform: scale(0.98);
}
.person{
    display: flex;
    align-items: center;
}
.person .photo{
    width: 84px;
    height: 84px;
    
    background-size: cover;
    margin-right: 30px;
}
.person .info h3{
    font-size: 17px;
    line-height: 26px;
}
.person .info p{
    font-size: 14px;
    line-height: 14px;
    margin-top: -3px;
}
.person.stephen .photo{
    background-image: url(./img/steven.png);
}
.person.ferris .photo{
    background-image: url(./img/aria.png);
}
.person.niko .photo{
    background-image: url(./img/niko.png);
}
.person.nolan .photo{
    background-image: url(./img/nallan.png);
}
.person.aria .photo{
    background-image: url(./img/aria.png);
}



header{
    background-color: #fff;
    height: 90px;
    width: 100%;
    display: flex;
    padding: 0 15x;
    align-items: center;
}
header .burger{
    min-width: 24px;
    
}
header .burger-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header menu {
    display: none;
    list-style: none;
}
header menu li{
    margin-right: 32px;
}
header menu li a {
    color: inherit;
    text-decoration: none;
}
header menu li a:hover{
    color: #615959;
}

header .logo{
    flex-grow: 1;
}

.get-template-btn{
    display: none;
    background-color: #1b1a1a;
    color: #fff;
}
.get-template-btn:hover{
    background-color: #4e4949;
}
@media screen and (min-width: 900px){
    header menu {
        display: flex;
    }
    .get-template-btn{
        display: block;
    }
    header .burger-btn{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    header {
        padding: 0 140px;
    }
}

.hero{
    display: flex;
    min-height: calc(100vh - 90px);
    min-height: fit-content;
}
.hero .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ECE7E4;
    padding: 0 15px;
}
.hero .left, .hero .right{
    width: 100%;
}

.hero .right{
    background-image: url(./img/IMAGE.png);
    background-size: cover;
    display: none;
}

.hero .name{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#645c55;
    margin-bottom: 20px;
}
.hero h1{
    /* font-size: 64px;
    line-height: 70px; */
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 45px;
    line-height: 53px;
}
.hero p{
    line-height: 24px;
    margin-bottom: 41px;
}
@media screen and (min-width: 768px){
    .hero{
        min-height: fit-content;
    }
    .hero .left{
        padding: 60px 20px;
    }
    .hero .right{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .hero{
        min-height: calc(100vh - 90px);
       
    }
    .hero .left{
        padding: 0 100px;
    }
}

.firm{
   
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.firm .content{
    width: 100%;
}
.firm .content p{
    margin-bottom: 10px;
}
.firm .content p.last{
    margin-bottom: 18px;
}
.firm .title{
    width: 100%;
    font-size: 32px;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px){
    .firm{
        flex-direction: row;
        padding: 100px 0;
    }   
        .firm .content{
            width: 493px;
    }
    firm .title{
        width: 267px;
    }
}


.house{
    background-image: url(./img/house.png);
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.house .text{
    width: 285px;
}
@media screen and (min-width: 768px){
    .house{
        justify-content: flex-end;
    }
    .house .text{
            width: 285px;
            margin-right: 75px;
        }
}


.process {
    padding: 40px 15px;
}
.process .name{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.process h2{
    text-align: center;
    margin: 13px;
    margin-top: 47px;
    font-size: 39px;
}

.process-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.process .item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin-bottom: 40px;
}

.process .item:first-child{
    margin-left: 0;
}
.process .item p{
    text-align: center;
}
@media screen and (min-width: 768px){
    .process{
        padding: 60px 30px;
     
    }
    .process .process-section{
        flex-direction: row;
        
    }
    .process .item{
        margin-left: 102px;
        width: calc(100% / 3);
    }
}
@media screen and (min-width: 1200px){
    .process{
    padding: 100px 178px 110px;
    }
}


.marble{
    display: flex;
    height: 600px;
    background-image: url(./img/marble.png);
    justify-content: center;
    align-items: center;
}
.marble h3{
    color: #403E3B;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
}
.marble p{
    color: #645C55;
    font-size: 16px;
    line-height: 24px;
    padding-right: 5%;
}
.marble-head{
padding-left: 15px;
}
@media screen and (min-width: 768px){
    .marble{
        justify-content: flex-end;
    }
   
}


.customers{
    background-color: #403E3B;
    color: #FFFFFF;
    display: flex;
    
}
.customers .text{
    padding: 40px;
}
.customers .text, .customers .logos{
    width: 100%;
    
}
.customers .text .name{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.customers .text h3{
    font-size: 32px;
    margin-bottom: 14px;
}
.customers .text p{
    font-size: 15px;
    line-height: 24px;
}
.customers .logos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.customers .logo-box{
    width: 50%;
    padding-bottom: 13px;
}
@media screen and (min-width: 768px){
    .customers .text{
        padding: 45px 15px;
    }
    .customers .logos{
        padding: 20px;
    }
    .customers .logos{
        flex-direction: row;
        justify-content: flex-start;
    }
    .customers .logo-box{
        padding-bottom: 0px;
    }
}
@media screen and (min-width: 1200px){
    .customers .text{
        padding: 135px;
    }
    .customers .logos{
        padding: 88px;
    }
}


.swirling{
    display: flex;
    background-image: url(./img/swirling.png);
    height: 600px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.swirling .swirling-text h3{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.swirling .swirling-text p{
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
@media screen and (min-width: 768px){
    .swirling{
        justify-content: flex-end;
    }
   
}


.featured{  
    margin-top: 113px;  
    margin-bottom: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.featured__text{
    text-align: center;
}
.featured .name{
font-size: 39px;
line-height: 42px;
margin-bottom: 5px;
color: #1B1A1A;
}
.featured p{
font-size: 24px;
line-height: 30px;
color: #645C55;
margin-bottom: 42px;
}
.pic-text h3{
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
margin-top: 40px;
}
.pic-text h4{
font-size: 23px;
line-height: 30px;
color: #403E3B;
}
.item{
    height: 900px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.item .first{
background-image: url(./img/feat1.png);
background-size: cover;
} 
.item .second{
background-image: url(./img/feat2.png);
background-size: cover;
} 
.item .third{
background-image: url(./img/feat3.png);
background-size: cover;
} 
.feat-btn{
    margin: 10px 0;
}
@media screen and (min-width: 768px){     
    .featured{
        flex-direction: block;
    }
    .featured__text{
        text-align: left;
    }
    .item{
        flex-direction: row;
        margin-right: 5px;
        width: 100%;
        height: 300px;
        margin-bottom: 0px;
    }  
}

@media screen and (min-width: 1200px){
    .featured{
        flex-direction: block;
    }
    .featured__text{
        text-align: left;
    }
    .item{
        height: 300px;
        margin-bottom: 0px;
        margin-right: 5px;
        flex-direction: row;
        width: 100%;
}
}


.team{
    display: block;
    margin-bottom: 15px;
}
.team > .info{
    width: 100%;
}
.team > .info h3{
    font-size: 32px;
    line-height: 24px;
    text-align: center;
}
.team > .info p{
    margin-top: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.team .people{
   align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.team .people .person{
    margin: 28px 0;   
}
.team-btn{
align-content: center;
}
@media screen and (min-width: 768px){
    .team .people .person{
      margin-right: 20px;
        align-items: center;
    }
    .team .people{
       justify-content: center;
    }
}
@media screen and (min-width: 1200px){
    .team{
        display: flex;
        }
        .team > .info{
            width: calc(100% / 3);
        }
        .team > .info h3{
            text-align: left;
        }
        .team > .info p{
            text-align: left;
        }
         .team .people{
            width: calc((100% / 3) * 2);
            justify-content: start;
        }
        .team .people .person{
            margin: 28px 0;
            width: 50%;
        }    
}

.goodfit{
    background-color: #CEC4BC;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.goodfirst{
   padding-left: 15px;
}
.goodsec{
   /* padding: 145px 156px 145px 474px; */
}
.goodfit h3{
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}
@media screen and (min-width: 1200px){
    .goodfit{
        height: 314px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .goodfirst{
         width: 708px;
     }
}

.end-section{
    height: 204px;
    display: flex;
    align-items: center;
    padding:0 15px;
}
.footer-text{
    color: #645C55;   
    padding-bottom: 20px;
}
.footer-icon{
    padding-right: 20px;
}
@media screen and (min-width: 768px){
    .footer-icon1{
        padding-right: 0px;
    } 
    .end-section{
        padding:0 136px;
        justify-content: space-between;
    }
    .footer-text{
        padding-bottom: 0px;
        width: 50%;

    }
}
@media screen and (min-width: 1200px){
    .end-section{
        padding:0 136px;
        justify-content: space-between;
    }
    .footer-text{
        padding-bottom: 0px;
        width: 50%;
    }
}



